{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static%}

{% block content %}

<div class="container">
    <div class="row wide mt-5">
        <div class="col-md-6">
            {% if profile_details.profile_pic %}
            <img src="{{profile_details.profile_pic.cdn_url}}" alt="">
            {% else %}
            <img src="https://img.icons8.com/ios-filled/80/000000/user-male-circle.png" alt="">
            {% endif %}
        </div>
        <div class="col-md-6">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span><h4><strong>{{profile.username}}</strong></h4></span>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="row mt-5">
        {% for image in images %}
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div>
                <img src="{{image.img.cdn_url}}" alt="">
            </div>
        </div>
        {%endfor%}
    </div>

</div>


{% endblock %}