{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
    <!-- Looping through news   -->
  {% for image in images %}
  <div class="card text-center">
        <div class="card-body">
          Featured
        </div>
        <img src="{{image.img.cdn_url}}" class="card-img" alt="Image" style="border-radius: 0px;">
        <div class="card-body">
                {{ image.img_name }}
        </div>
      </div>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There are No Images</h2>
  </div>
  {% endfor %}

</div>
</div>
{% endblock %}